<h1>New post</h1>

<%= form_for @post do |f| %>
	<% if !@post.valid? %>
		<div class ='error alert-error'>
			<ul>
				<%= @post.errors.full_messages.join("<br/>").html_safe %>
			</ul>
		</div>
	<% end %>
	<%= f.label :title %>
	<%= f.text_field :title %>
	<%= f.label :url %>
	<%= f.text_field :url %>
	<br>
	<%= f.submit "Create Post" %>
<% end %>

<%= form_tag('/posts', :method => "post") do %>
<%= label_tag(:post_title, "Title:") %>
	
	<%= text_field(:post, :title) %>
	<%= label_tag(:post_url, "url:") %>
	<%= text_field(:post, :url) %>
	<br/>
	<%= submit_tag("Create Post") %>
<% end %>
想起一个问题，如果写中文form，因为各个项名都要写中文，只能用tag helper？？